{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "importOrder": [
    "^(@Styles)/(.*)$",
    "^(@Views)|(@Components)/(.*)$",
    "^(@Services)|(@Middleware)|(@Utilities)/(.*)$",
    "^(@Interfaces)/(.*)$",
    "^(@Public)/(.*)$",
    "^[./]",
    ".*"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
