@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

@supports (-webkit-touch-callout: none) {
  body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}

@layer utilities {
  .h-view {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
}
